/* Sidebar - Explorer items - HEIGHT CHANGE NOT WORKING */

.monaco-tree .monaco-tree-rows > .monaco-tree-row {
	/* height: 30px !important;
	padding-top: 4px;
	padding-bottom: 4px; */
	cursor: default;
}

/* Editor - Scrollbar */

.decorationsOverviewRuler {
	background-color: #1f1f20;
    clip: rect(2px,13px,1000px,2px);
    margin-top: -2px;
    height:calc(100% + 4px);
}

.editor .monaco-scrollable-element > .scrollbar {
	width: 12px !important;
}

/* Sidebar - Scrollbar */

.vs-dark .monaco-workbench .sidebar .monaco-scrollable-element > .scrollbar {
	width: 6px !important;
}

.vs-dark .monaco-workbench .sidebar .vs-dark .monaco-scrollable-element > .scrollbar > .slider {
	width: 6px !important;
}

/* Sidebar - Explorer colors */

.vs-dark .monaco-tree .monaco-tree-row.selected:not(.highlighted),
.vs-dark .monaco-tree.focused .monaco-tree-row.selected:not(.highlighted),
.vs-dark .monaco-tree.focused .monaco-tree-rows > .monaco-tree-row.focused:not(.highlighted),
.vs-dark .monaco-tree.focused .monaco-tree-rows > .monaco-tree-row.focused.selected:not(.highlighted) {
	background-color: #3c494f;
	color: #FFF;
}

.vs-dark .monaco-tree .monaco-tree-row:hover:not(.highlighted):not(.selected):not(.focused) {
	background-color: transparent;
	color: #FFF;
}

.vs-dark .monaco-workbench {
	color: #AAA;
}

/* Side Bar */
.vs-dark .monaco-workbench > .activitybar > .content {
    background-color: #556873;
}

/* Tabs - Size */

.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title,
.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container,
.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab,
.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .editor-actions .action-label,
.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .title-actions .action-label,
.monaco-workbench > .part > .title,
.monaco-workbench > .part > .title > .title-actions,
.monaco-workbench > .part > .title > .title-actions .action-label {
	height: 50px;
}

.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .editor-container {
	height: calc(100% - 50px);
}

.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab {
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 1px;
	cursor: default;
	border: none;
}


.monaco-workbench > .part > .title > .title-label,
.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .group-actions .action-label {
	line-height: 50px;
}

.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab > .tab-label {
	padding-right: 5px;
}

.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab > .tab-close {
	padding-top: 1px;
}

.monaco-workbench.windows .action-bar-select {
	margin-top: 20px;
}

/* Tabs - Design */

.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab > .tab-close,
.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab > .tab-close .action-label {
	opacity: .3;
}

.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab > .tab-close:hover,
.monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab > .tab-close:hover .action-label {
	opacity: .9;
}

.vs-dark .monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab:not(.active) {
	background-color: transparent;
}

.vs-dark .monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab:not(.active):hover {
	background-color: #273035;
}

.vs-dark .monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title .tabs-container > .tab:not(.active):hover .tab-label {
	opacity: .7 !important;
}

.vs-dark .monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title.tabs {
	background-color: #2c3c44;
}

.vs-dark .monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title.active .tabs-container > .tab .tab-label a, .vs-dark .monaco-workbench > .part.editor > .content > .one-editor-container > .title.active .title-label a {
	cursor: default;
}

.vs-dark .monaco-workbench > .part.editor > .content > .one-editor-silo > .container > .title.tabs:before {
	border-top: none;
}

.monaco-editor.vs-dark .scroll-decoration,
.vs-dark .monaco-workbench .monaco-scrollable-element .shadow.top {
	display: none;
}

/* Status bar */

.monaco-workbench > .part.statusbar {
	background-color: #2c3c44 !important;
}

/* Sidebar - Design */

.vs-dark .monaco-workbench .sidebar,
.vs-dark .monaco-workbench > .sidebar > .title > .title-actions {
	background-color: #2c3c44;
}

.monaco-workbench > .part > .content {
	font-size: 14px;
	font-weight: 100;
}

/* Activity bar - Colors */

.vs-dark .monaco-workbench > .activitybar > .content {
	background-color: #2c3c44;
}

.monaco-workbench > .activitybar > .content .monaco-action-bar .action-label {
	opacity: .4;
}

/* Side bar spacing */
.monaco-tree .monaco-tree-rows > .monaco-tree-row {
    margin-top: 8px;
}
